In [21]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime

In [7]:
data = pd.read_csv('dataset/data/IP/DHCP.csv')
data.head()

            Timestamp  Svr_detect  Svr_connect  Ss_request  Ss_Established
0  20210101_0000-0010         0.0          0.0         5.0             8.0
1  20210101_0010-0020         0.0          0.0         4.0            14.0
2  20210101_0020-0030         0.0          0.0         1.0            10.0
3  20210101_0030-0040         0.0          0.0         1.0            14.0
4  20210101_0040-0050         0.0          0.0         2.0             9.0

In [8]:
data.fillna(0, inplace=True)

In [15]:
data['Time'] = data['Timestamp'].apply(lambda s: str(s).split('-')[0])
data['Time'] = pd.to_datetime(data['Time'], format='%Y%m%d_%H%M')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52560 entries, 0 to 52559
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       52560 non-null  object
 1   Svr_detect      52560 non-null  float64
 2   Svr_connect     52560 non-null  float64
 3   Ss_request      52560 non-null  float64
 4   Ss_Established  52560 non-null  float64
 5   Time            52560 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 2.4+ MB

In [19]:
data.head()

,Timestamp,Svr_detect,Svr_connect,Ss_request,Ss_Established,Time
0,20210101_0000-0010,0.0,0.0,5.0,8.0,2021-01-01 00:00:00
1,20210101_0010-0020,0.0,0.0,4.0,14.0,2021-01-01 00:10:00
2,20210101_0020-0030,0.0,0.0,1.0,10.0,2021-01-01 00:20:00
3,20210101_0030-0040,0.0,0.0,1.0,14.0,2021-01-01 00:30:00
4,20210101_0040-0050,0.0,0.0,2.0,9.0,2021-01-01 00:40:00

In [23]:
train_data = data[data.Time < datetime(2021, 7, 1)]
train_data

,Timestamp,Svr_detect,Svr_connect,Ss_request,Ss_Established,Time
0,20210101_0000-0010,0.0,0.0,5.0,8.0,2021-01-01 00:00:00
1,20210101_0010-0020,0.0,0.0,4.0,14.0,2021-01-01 00:10:00
2,20210101_0020-0030,0.0,0.0,1.0,10.0,2021-01-01 00:20:00
3,20210101_0030-0040,0.0,0.0,1.0,14.0,2021-01-01 00:30:00
4,20210101_0040-0050,0.0,0.0,2.0,9.0,2021-01-01 00:40:00
...,...,...,...,...,...,...
26059,20210630_2310-2320,0.0,1.0,3.0,16.0,2021-06-30 23:10:00
26060,20210630_2320-2330,0.0,1.0,2.0,11.0,2021-06-30 23:20:00
26061,20210630_2330-2340,1.0,1.0,3.0,18.0,2021-06-30 23:30:00
26062,20210630_2340-2350,0.0,1.0,2.0,17.0,2021-06-30 23:40:00
26063,20210630_2350-0000,0.0,1.0,3.0,17.0,2021-06-30 23:50:00

In [24]:
test_data = data[data.Time >= datetime(2021, 7, 1)]
test_data

,Timestamp,Svr_detect,Svr_connect,Ss_request,Ss_Established,Time
26064,20210701_0000-0010,0.0,1.0,3.0,17.0,2021-07-01 00:00:00
26065,20210701_0010-0020,0.0,1.0,1.0,22.0,2021-07-01 00:10:00
26066,20210701_0020-0030,0.0,1.0,3.0,23.0,2021-07-01 00:20:00
26067,20210701_0030-0040,0.0,1.0,3.0,17.0,2021-07-01 00:30:00
26068,20210701_0040-0050,0.0,1.0,4.0,19.0,2021-07-01 00:40:00
...,...,...,...,...,...,...
52555,20211231_2310-2320,0.0,2.0,5.0,15.0,2021-12-31 23:10:00
52556,20211231_2320-2330,0.0,4.0,4.0,15.0,2021-12-31 23:20:00
52557,20211231_2330-2340,0.0,2.0,3.0,14.0,2021-12-31 23:30:00
52558,20211231_2340-2350,0.0,3.0,2.0,12.0,2021-12-31 23:40:00
52559,20211231_2350-0000,0.0,2.0,3.0,16.0,2021-12-31 23:50:00

In [55]:
train_server = train_data.loc[:, ['Time', 'Svr_detect', 'Svr_connect', 'Ss_request']]
train_server['attack'] = np.random.randint(0,2, size=len(train_server))
train_server.to_csv('GDN-main/data/IP_server/train.csv', index=False)

In [56]:
test_server = test_data.loc[:, ['Time', 'Svr_detect', 'Svr_connect', 'Ss_request']]
test_server['attack'] = np.random.randint(0,2, size=len(test_server))
test_server.to_csv('GDN-main/data/IP_server/test.csv', index=False)

In [57]:
with open('GDN-main/data/IP_server/list.txt', 'w') as f:
    for col in ['Svr_detect', 'Svr_connect', 'Ss_request']:
        f.write(col)
        f.write('\n')

In [58]:
train_server = train_data.loc[:, ['Time', 'Ss_Established']]
train_server['attack'] = np.random.randint(0,2, size=len(train_server))
train_server.to_csv('GDN-main/data/IP_terminal/train.csv', index=False)

In [59]:
test_server = test_data.loc[:, ['Time','Ss_Established']]
test_server['attack'] = np.random.randint(0,2, size=len(test_server))
test_server.to_csv('GDN-main/data/IP_terminal/test.csv', index=False)

In [60]:
with open('GDN-main/data/IP_terminal/list.txt', 'w') as f:
    for col in [ 'Ss_Established']:
        f.write(col)
        f.write('\n')